go 1.21.5

use (
	./Go/Day10
	./Go/Day11
	./Go/Day12
	./Go/Day13
	./Go/Day14
	./Go/Day15
	./Go/Day16
	./Go/Day17
	./Go/Day18
	./Go/Day19
	./Go/Day5_1
	./Go/Day5_2
	./Go/Day6
	./Go/Day7_1
	./Go/Day8
	./Go/Day9
	./Go/Day3_2_go
)
